<aside>
  <h1>Mis Facturas</h1>
  <nav class="menu-principal">
    <ul class="list-unstyled">
      <li class="activo">
        <a href="#">Listado de ingresos</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Listado de gastos</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Nuevo ingreso</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Nuevo gasto</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Estadísticas</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Cerrar sesión</a>
        <i class="fa fa-angle-right"></i>
      </li>
    </ul>
  </nav>
  <a href="#" class="toggle-sidebar" (click)="onClickSidebar($event)">
    <i class="fa fa-caret-left"></i>
  </a>
</aside>
