Filtrar por: {{txtBusqueda}}
<table class="listado table table-striped table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th class="col-min">Num.</th>
      <th class="col-med">Fecha</th>
      <th class="col-concepto">Concepto</th>
      <th class="col-med">Base</th>
      <th class="col-max">IVA</th>
      <th class="col-med">Total</th>
      <th class="col-max">Estado</th>
      <th class="col-min"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let factura of facturas">
      <td>{{factura.numero}}</td>
      <td>{{factura.fecha }}</td>
      <td>{{factura.concepto}}</td>
      <td>{{factura.base | number:formatoNums }}€</td>
      <td>{{factura.iva | number:formatoNums}}€ ({{factura.tipoIva}}%)</td>
      <td>{{factura.total | number:formatoNums}}€</td>
      <td [class.table-success]="factura.abonada" [class.table-danger]="!factura.abonada">
        {{factura.estado | estadosFacturas | titlecase }}</td>
      <td class="acciones">
        <a href="#" (click)="onCambiarEstado($event, factura)">
          <i class="fa fa-pencil" title="modificar"></i>
        </a>
        <a href="#" (click)="onBorrar($event, factura)">
          <i class="fa fa-times" title="eliminar"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
