<div class="row">
  <div class="info-listado info-listado-top col text-right">
    <label>
      Buscar
      <input type="text" class="form-control form-control-sm" [(ngModel)]="cadenaBusqueda" (ngModelChange)="onBuscar()">
    </label>
    <button (click)="onNuevaFactura()">Nueva factura</button>
  </div>
</div>
