<fact-sidebar class="sidebar" [class.off]="!sidebarAbierta" (clickSidebar)="toggleSidebar()"></fact-sidebar>
<section class="principal container-fluid">
  <fact-cabecera [miTitulo]="tituloSeccion"></fact-cabecera>
  <main>
    <fact-buscador (buscar)="buscar($event)"></fact-buscador>
    <fact-lista [txtBusqueda]="txtBusqueda"></fact-lista>
  </main>
</section>
<fact-loading *ngIf="cargando"></fact-loading>
